
.btn-facebook {
	  background: #3B5998;
	  border-radius: 0;
	  color: #fff;
	  border-width: 1px;
	  border-style: solid;
	  border-color: #263961;
	}
	.btn-facebook:link, .btn-facebook:visited {
	  color: #fff;
	}
	.btn-facebook:active, .btn-facebook:hover {
	  background: #263961;
	  color: #fff;
	}
  .btn-google{
    background: #c32f10;
	  border-radius: 0;
	  color: #fff;
	  border-width: 1px;
	  border-style: solid;
	  border-color: #c32f10;
    margin-bottom: 5px;
		padding: 10px 20px 12px 20px;
  }
  .btn-google:link, .btn-google:visited {
    color: #fff;
  }
  .btn-google:active, .btn-google:hover {
    background: #c32f10;
    color: #fff;
  }
	.modal-msg{
	  font-size: 17px;
	}
