body{
  background-color: #f5f5f5;
}
.total_points_font{
  font-size: 22px;
  font-weight: 500;
}
.points_font{
  font-size: 18px;

}
.points_tab{
  margin-top: 100px;
  margin-bottom: 100px;
}
.border_gold{
  border-bottom: 3px solid gold;
  width: 200px;
}
.dashboard_tab{
  width: 200px;
  background-color: #418ecc;

  padding: 5px;
  color: #fff;
}

#content{
  padding: 0px;
}
.error{
  color:red;
  font-size: 13px;
}
#gender-error{
  position: absolute;
  top:20px;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #478ecc;
}
.navbar-default .navbar-nav>li>a{
  color: #000;
  font-weight: 500;
  font-size: 18px;
}
.plan_details{
  font-size: 12px;
  font-weight: bold;
}
