.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html {
  height: 100%;
}
body {
  height: 100%;



  overflow-x: hidden;
}


#wrap {
  /* fixed width, centered in viewport */
  width: 100%;

}
#showcase {
  width: 100%;
  height: 460px;
 overflow:visible !important;

  margin-top: 12px;
  visibility: hidden;
}
#showcase img {
  cursor: pointer;
}
.carousel-fade .carousel-item {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity 100ms ease;
}
.carousel-fade .carousel-item.active {
  opacity: 1;
}


.carousel-fade .carousel-inner,
.carousel-fade .carousel-item {
  height: 700px;
}
.slider{
  padding-bottom: 700px;
}
