.imglogo{
  width: 125px;
}
.navbar-nav li:hover > ul.dropdown-menu {
display: block;
}
.dropdown-submenu {
position:relative;
}
.dropdown-submenu>.dropdown-menu {
top:0;
left:100%;
margin-top:-6px;
}

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
text-decoration: underline;
transform: rotate(-90deg);
}
.dropdown-block li a{
  color: #000;
  font-size: 14px;
      margin-left: 25px;
}
.profile_menu{
  margin-left:-60px;
}
.cursor_link{
  cursor: pointer;
  color: #000;
}

body{
  font-family: 'Roboto', sans-serif;
}
.navbar-dark .navbar-nav .nav-link{
  color: #000;
  font-weight: 500;
}
.error{
  color: red;
  font-size: 14px;
}
.no_padding{
  padding-left: 0px;
  padding-right: 0px;
}
.select2-selection__choice{
  font-size: 10px;
}
.no_banner{
  margin-top: 150px;
}
.navbar {
  border-bottom: 1px solid #dad9d9;
}
.loginbtn{
  padding-left: 30px;
}

.slider-img{
  border-left: 3px solid #fff;
}
.carousel-item {
  height: 32rem;

}
.legal_text{
  font-size: 12px;
}
.form_search{
  margin-left: 100px;
  margin-right: 100px;
}
.become_organiser_text{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 80px;
  text-align: justify;
}
.fa{
  padding-left: 0px;
  padding-right: 20px;
}
.popup_txt{
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
}
.verify-text{
  height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 17px;
   padding-top: 100px;
}
.verify-page{
  background-color: #F6F6F6;
  min-height: 100%;
  height: 100%;
}
.about{

  padding-top: 20px;
  padding-bottom: 20px;
  background-repeat: no-repeat;
}
.tabmenu:active{
  color:red;

}
.caption-head{
  padding-top: 200px;
  text-align: center;
  color: #fff;
  font-size: 70px;
}
.card{
  padding: 50px;
  border: none;
}
.form-control-plaintext{
  width: 200px;
}

.head_text{
  margin-bottom: 20px;
  margin-left: 15px;

}
.head_text h2{
  font-size: 30px;
  text-align: center;


}

.socialmedia{
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.whatsheyla{
  text-align: center;
  font-size: 18px;
  color: #000;
  line-height: 50px;
  font-weight: 400;
}
.heading2{

  text-align: center;
  font-size: 24px;
  color: #fff;
  font-weight: 700;
}
.menuactive{

  color:#000 !important;
  font-weight: 800;

}
.nav-link:hover{
  color:#000 !important;
  font-weight: 800;
}
.nav1{
  margin-top: 210px;
  text-align: center;
  color: #629ed5;

}
.event_title_heading{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.event_address{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.event_title_heading a{
  color: #000;
}
.mobileslider{
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #e8e8e8;
}
.active{
  /* border-bottom: 2px solid  #478ECC; */
}
.price_section{
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left: 4px;
  padding-right: 10px;
  border-top: 1px solid #b4b4b5;
}
.nav-tabs{
  border: none;
}

.modalmenu{
  padding-left: 60px;
}

.borbtn{
  border-bottom: 2px solid  #478ECC;
}
.features{
  padding-top: 10px;
  padding-bottom:40px;
  border-bottom: 4px solid #DCDBD9;
  background: url('<?php echo base_url(); ?>assets/'/contact.jpg);
}
.featuretext{
  font-size: 30px;
}
.white{
  color:#fff !important;
}
.center-div
{
  position: relative;
  margin: auto;
  top: 100px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 700px;
  height: 520px;
  background-color: #fff;
  border-radius: 3px;


}
.cover{
  background: url("../images/cover.png")no-repeat;
  background-size: cover;
  height:150px;
}
.profilesrc{
  margin: 15px;
}
.infobox{
  padding-left: 25px;
  padding-top: 10px;
}
.per-info{
  padding-top: 10px;
}
#edit-btn{
  display: none;
}
#edit-btn{
  color:#fff;
}
.setting{
  color: #fff;
  font-size: 22px;
  margin-top: 10px;
  margin-right: 20px;
}
.arrowimg{

  position: relative;
  top: -15px;
}
.profile{
  background: url("../images/home-bg.jpg")no-repeat;
  background-size: cover;
  height:100vh;
}
.menupage{
  background-color: #478ECC;
}
.listfeauture{
  padding-top: 10px;
  margin: auto;
}
.featurebox{
  padding-right: 0px;
  padding-left: 0px;
}
.mediaobj{
  padding: 20px;
  border: 0.5px solid #F3F3F3;
}
.featureicons{
  width: 75px;
}
.organiser_btn{
  background-color: #ffbb17;
    color: #fff !important;
    margin-top: 8px;
}
.organiser_btn:hover{

    color: #fff !important;
}

.features_section{

     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;

     padding-top: 60px;
     padding-bottom: 0px;

}
.organiserbox{
  padding-top: 60px;
  padding-bottom: 60px;
  border-right: 2px solid #DCDBD9;
}
.ad_slider{
  margin-top: 20px;
}
.popular{
  font-size: 28px;
  color: #000;
}
.popular_events{
  padding-top: 10px;
  padding-bottom: 40px;
}
.popular_event_section{
  background-color: #e9ebed9c;
}
.event_section{
  background-color: #fff;
  padding-bottom: 3px;
  /* box-shadow: 0 2px 12px 6px #d9d9d9; */
  border: 1px solid #d9d9d9;
  border-radius: 10px;

}
.event_img{
  height: 204px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.event_heading{
  color: #000;
  font-size: 20px;
  font-weight: 500;
}
.event_thumb{
  margin-left: 4px;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 10px;
  color: #8e9398;
}
.pf_btn{
  margin-right: 8px;
}
.event_box{
  margin-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
}
.contact_icon{
  background-color: #657079;
  padding: 10px;
  margin-bottom: 2px;
}
.organiserbox-last{
  padding-top: 60px;
  padding-bottom: 60px;
}
.organiser-heading{
  font-size: 20px;
}
.organiserevent{
  border-bottom: 4px solid #DCDBD9;
}
.text_box{
  background-color: #d7d7d7;
  padding: 10px;
  border-radius: 0px;
}
.app_img{
  width:160px;
}
.event_details_bg{
  background-color: #f5f5f5;
}
.event_details_bg_row{
  background-color: #fff;
  margin: 7px;
  margin-top: 80px;
}
.book_tickets{
  text-align: center;
  padding: 13px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  background-color: #478ECC;

}
.book_tickets:hover{
  color: #fff;
  text-decoration: none;
}
.img_gallery{
  width:150px;
  height: 100px;
  padding-bottom: 10px;
}
.review_name{
  font-weight: 600;
  font-size: 18px;
}
.review_desc{
  font-weight: 400;
  color: #000;
}

.event_select_label{
  color: #000;
  font-size: 22px;
  font-weight: 500;
  margin-left: 20px;
  margin-top: 5px;
}
.event_select_text{
  color: #000;
  font-size: 20px;
  font-weight: 400;
  margin-left: 20px;
	font-size: 14px;
}
.total_price{
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding-top: 10px;
}
.confirm_btn{
  margin-top: 20px;
}


.footer-bg{
  background-color: #0d213e;
  padding-top: 30px;
  padding-bottom: 15px;
}
.fnt-footer{
  padding: 0px;
}
.foot_copyrights{
  color: #fff;
  font-style: italic;
}
.footer_heading{
  color:#fff;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
}
.fnt-footer li a{
  color:#fff;
  list-style-type: none;
  margin: 0px;
}
.fnt-footer li{
  font-size: 16px;
  list-style-type: none;
}
.footer_container{
  margin-left: 50px;
  margin-right: 50px;
}
.bottom-footer{
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.formbg{
  padding-top: 0px;
  padding-bottom:30px;
  background-color:  #fff;
}
.submitbtn{
  background-color: #478ECC;
  color:#fff;
  padding-left: 0px;
  margin-top: 10px;
}
.normal-txt{
  font-size: 22px;
  text-align: center;
}
.heading{
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 30px;
  color: #fff;
  font-weight: 500;
}
/* .carousel-caption{
  bottom: 100px;
} */
.btn-event{
  padding: 10px 40px 10px 40px;
  background-color: #478ECC;
  border-radius: 20px;
  color: #fff;
  font-size: 18px;
  border: 2px solid #fff;
}
.white-color{
  color:#fff;
}
.cnt{

    font-size: 30px;
    font-weight: 300;
}
.getin{
  color:#000;
  font-weight: 600;
  font-size: 22px;
}
.address_form{
  color: #000;
  font-size: 16px;
  font-weight: 400;
}
.blueline{
  border-bottom:  2px solid #478ECC;
  border-width: medium;

}

.affix.navbar{
 background-color: blue;
 }

.multiselect {
  width: 200px;
}
/*Organiser home*/

.organiser-home{
  background: url("../images/organsier-cover.jpg")no-repeat;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
  height: 400px;

}
.organiser-title{
  padding-top: 150px;
  font-size: 34px;
  font-weight: 700;
  color: #fff;
  text-align: center;
}
.tabs-left{
  display: inline-block;

    background-color: #fff;
}
.tabs-left li{
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid;
  border-style: ridge;

}
.tabactive{
  background-color: #478ECC;

}
.tabs-left li a{
  padding-left: 50px;
  padding-right: 50px;
  text-decoration: none;
}
.tabactive a{
  color: #fff;
}
.organiser-bg{
  background-color: #F3F3F3;
}
.organiser-menu{
  padding-top: 70px;
  padding-bottom: 70px;
}
.profilename{
  padding-left: 20px;
  font-size: 25px;
}
.form-organiser{
  padding-left: 30px;
  padding-top: 20px;
}
.profile-section{
  border-bottom: 1px solid #dededd;
  padding-bottom: 14px;

}

/* Sign in page */



.signin-div
{
  margin-top: 100px;
  background-color: #fff;
  border-radius: 3px;
}
.login_tag{
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: #929191;
}
.user-text-box{
  line-height: 0px;
}
.login-heading{
  width:100%;
  text-align: center;
  padding-top: 30px;
  font-size: 26px;
  font-weight: 500;
}
.textarea-form{
  overflow-x: hidden;
}
.notverfied{
  color: red;
}
.formsignin{
  padding-top:50px;

  padding-left: 30px;
  padding-right: 30px;
}
.left-inner-addon {
    position: relative;
}
.left-inner-addon input {

}
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px 10px 10px;
    pointer-events: none;
}
i.fas{
  font-size: 14px;
}
.forgotpwdtext{
  font-size: 14px;
  color:#626262;
}
.btn-login{
  background-color: #478ECC;
  border-color:  #478ECC;
      cursor: pointer;
}
.btn-login:hover{
  background-color: #478ECC;
    border-color:  #478ECC;
}
.social-img{
  width:180px;
  margin-bottom: 25px;
  margin-top: 15px;
      cursor: pointer;
}
.or-text{
  padding-top: 140px;
  text-align: center;
}
.store_img{
  width: 100px;
}
.socialmedia-tab{
  text-align: left;
padding-top: 50px;
padding-bottom: 15px;
}
.formsignup{
  padding-top:40px;

  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 360px) and (max-width: 480px){
.about_us{
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.event_img{

}
.profile_menu{
  margin-left: 0px;
}
.carousel-item{
  height:350px;
}
.event_list{
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.event_detail_img{
  height:200px !important;
}

.or-text{
  padding-top: 10px;
}
.socialmedia-tab{
  padding-top: 0px;
}
.formsignin{
  padding-top:0px;
  padding-bottom: 0px;
}
.signinbg{
  height: auto;
}
.booking-section{
  background-color:#000 !important;
}
.leaderboard-bg{
  top:0px;
}
.homeslider{
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.form_search{
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.dot{
  display: none;
}
.form_search_line{

}

.head_text h2{
  border-right: none !important;
}
}

@media (max-width:736px)  {
  .profile_menu{
    margin-left: 0px;
  }
}
@media (max-width:600px)  {
.organsier{
  padding-top: 0px;
  height: auto;
}
.text_box{
  padding: 5px;

}

.contact_icon{
  padding: 3px;
}

 }
.address_form{
  color: #fff;
}

/*.fixed-top{
      background-color: #478ecc;
}*/
@media (max-width: 982px) {
.fixed-top{
  position: absolute;
}
}
.privacy{
  margin-top: 100px;
  margin-bottom: 20px;
}
.list-inline{
  text-align: right;
}


/* Event page */
.search-area{
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
}
.search-event-form{
  margin-top: -5px;
}
.event-selectpage{
  padding: 5px;
}
.eventlist-pge{
  background-color: #eae7e7;
}
.event-image{
  width:350px;
}
.event-card{
  padding: 0px;
}
.event-thumb{
  padding-bottom: 15px;
}
.search_events_box{
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 15px;
  border-bottom: 1px solid #808285;
}
.favourite-icon{
  font-size: 16px;
}
.event-banner-img{
  height: 234px;
  width: 100%;
}
.event-title-list a{
  font-size: 20px;
  color: #000;
}
.upcoming-event-heading{
  font-size: 28px;
  border-bottom: 2px solid blue;
  width: 222px;
}
.eventdetail-pge{
  background-color: #fff;
    border: 2px solid #d9d9d9;
}
.event-desc{
  font-size: 28px;
}
.event_detail_img{
  height:500px;
  width:100%;
}
.booking-section{
    background: rgba(0, 0, 0, 0.5);
    position: relative;
    top: -73px;
    padding: 10px;
}
.event-heading-text{
  color:#fff;
}
.event-details-desc {
    margin-top: -30px;
}
.event-desc-details{
  text-align: justify;
  font-size: 15px;
}
.search_form{
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid grey;
}
.search_filter{
  padding-top: 15px;
  padding-bottom: 15px;
}
.map{
  width:100%;
  height: 400px;
}
.event-desc-head{
  font-size: 21px;
  font-weight: 600;
  border-bottom: 2px solid #478ecc;
  width: 122px;
}

.quantity-right-plus{
  background-color:  #478ecc;
}
.quantity-left-minus{
  background-color:  #478ecc;
}
input#quantity{
  color:#000;
}
.price-details{
  background-color: #f8f9fa;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #000;
}
.total-price{
  padding: 5px;
  border-top: 1px solid #000
}
.amt{
  margin-right: 10px;
}
.plan-amt{
  margin-right: 15px;
}
.amt-price{
  border: none;
  margin-left: 10px;

}
.change-email{
  font-size: 12px;
}
.booked-ticket{
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 12px;
}
.booked-event-img{
  width: 100px;
  float: left;
  margin-right: 20px;
}
.card-header-title{
  background-color: #fff;
}
.card-header-title h3{
  font-size: 22px;
}
.booked-date{
  border-left: 2px solid black;
  margin: 0px;
  border-left-style: dotted;
}
.event-wish{
  padding-top: 5px;
  padding-bottom: 5px;
}
.whishlist-card{
  padding: 10px;
}
a.btn.btn-login.btn-primary.btn-block.review-btn{
  color: #fff;
}
.modal-header-review{
  background-color: #478ecc;
}
.textarea-review{
  width: 100%;
  overflow: hidden;
}
/* Leaderboard */
.leaderboard-bg{
  background: url("../images/leaderboard-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height:310px;

}
.attendees-bg{
  background: url("../images/attendees-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height:310px;

}
.leader-title{
  justify-content: center;
  position: relative;
  font-size: 28px;
  top: 100px;
  color: #fff;
  text-align: center;

}
.header-title{
  height: 400px;
}
.order_summary_page{
  background-color: #f5f5f5;
}
.top_heading_box{
  background-color: #478ecc;
  padding-top: 10px;
  padding-bottom: 10px;
}
.summary_tab{
  background-color: #fff;
  padding-left: 0px;
  padding-right: 0px;
  box-shadow: 3px 4px 10px 4px #959696;

}
.summary_box{
  background-color: #eeeeee;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}
.payment_summary{
  background-color: #464646;
  padding: 20px 0px 20px 0px;
  color: #fff;

}
.payment_heading{
  /*padding-right: 20px;*/
  padding-left: 20px;
}
.summary_title{
  font-size: 22px;
  color: #fff;
  font-weight: 500;
}
.summary_card{
  margin-top: 30px;
}
.summary_label{
  text-align: left;
  margin-right: 15px;

}
.summary_text{
  font-size: 20px;
  font-style: normal;
  font-weight: 450;
}
.order_table{
  padding-top: 30px;
  padding-bottom:30px;
}
.btn-primary{
  color: #fff;
  background-color: #478ecc;
  border-color: #478ecc;
  cursor: pointer;
}
.btn-primary:hover{
  color: #fff;
  background-color: #478ecc;
  border-color: #478ecc;
}
/* ReviewPage */
.review-img{
  width: 200px;
}
.menu-icons{
  padding-right: 10px;

}
.page-bg{
  background-color: #f6f6f6;
}
.total-points-div{

    padding-left: 60px;
    padding-right: 60px;
    background-color: #fff;
    border-bottom: 4px solid orange;
}
.leaderboard-img{
  padding: 12px;
}
.points-one-div{
  margin: 20px 10px 20px 0px;
  background-color: #fff;
  border-left: 4px solid #8ec641;
}
.points-two-div{
  margin: 20px 10px 20px 0px;
  background-color: #fff;
  border-left: 4px solid #454ea1;
}
.points-three-div{
  margin: 20px 10px 20px 0px;
  background-color: #fff;
  border-left: 4px solid  #ec2227;
}
.points-four-div{
  margin: 20px 10px 20px 0px;
  background-color: #fff;
  border-left: 4px solid #029b8c;
}
.points-five-div{
  margin: 20px 10px 20px 0px;
  background-color: #fff;
  border-left: 4px solid #ee7f22;
}

.points-six-div{
  margin: 20px;
  border: none;
}
.leaderboard-widgets{
  margin-top: 35px;
}


.add-attendees{
  text-align: center;
  margin-top: 100px;
  font-size: 32px;
  color: #fff;
}
.attendees-form{
    background: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 150px;
}
.label-form{
  justify-content: start !important;
}
.booking_process_page{
  background-color: #fff;
  margin-top: 50px;
  padding: 20px;
}
.confirm_process{
  text-align: center;
  padding: 10px;
}
/* Ipad */
@media (min-width: 768px) and (max-width: 1024px){
  .booking-section{
      background-color: #000;

  }
  .carousel-item{
    height:350px;
  }
  .profile_menu{
    margin-left: 0px;
  }

  .event-banner-img{
    height: 234px;
    width: 100%;
  }
  .event_fee{
    margin-top: 35px;
  }
.or-text{
display: none;
}
.socialmedia-tab{
    padding-top: 30px;
      text-align: center;
}

.formsignin{
  padding-top: 30px;
  padding-bottom: 30px;
}
.form_search{
  margin-left: 0px;
  margin-right: 0px;
}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
.social-img{
  width: 185px;
}
.profile_menu{
  margin-left: 0px;
}

}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .logout-btn:hover{
  color: rgba(255,255,255,.75);
    cursor: pointer;
}




/* Event details page */
.event_detail_thumb{
  margin-top: 30px;
}

.social_follow li{
  display: inline-block;

}


@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
.text_box{
  margin-left: 20px;
}
.carousel-item{
  height:450px;
}
.profile_menu{
  margin-left: 0px;
}
}

.order_dialog{
  max-width: 840px !important;
}

/* About us */
.about_us{
  background-color: #f5f5f5;
  position: relative;
  margin-top: -60px;
  padding: 20px;
  margin-bottom: 10px;
  margin-left: 100px;
  margin-right: 100px;
}

.img-thumbnail{
  border: none;
}
.profile_img_head{
    height: 45px;
    width: 45px;
    border-radius:30px;
    border:1px solid #ddd;
}
ul.dropdown-menu.show{
  margin-left: -100px;
}
.nav-item{
  margin-left: 10px;
  margin-top: 0px;
}
.welcome_name{
  font-size: 16px;
  font-weight: 600;
  margin-top:15px;
}
.navbar-toggler-icon{
  background-color:#458ecc;
}


.search_box{
  border: none;

}
.search_box:focus{
  outline: none;

}
.form_search_line{
  border: 1px solid #e0d9d9;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
#filtersubmit {
  position: relative;
  z-index: 1;
  left: -25px;
  top: 1px;
  color: #7B7B7B;
  cursor: pointer;
  width: 0;
}
