.imglogo{
  width: 125px;
}
.navbar-dark .navbar-nav .nav-link{
  color: #fff;
}
.loginbtn{
  padding-left: 30px;
}

.fa{
  padding-left: 0px;
  padding-right: 20px;
}
.verify-text{
  height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 17px;
   padding-top: 100px;
}
.verify-page{
  background-color: #F6F6F6;
  min-height: 100%;
  height: 100%;
}
.about{
  background-color: #478ECC;
  padding-top: 120px;
  padding-bottom: 115px;
  background-repeat: no-repeat;
}
.tabmenu:active{
  color:red;

}
.caption-head{
  padding-top: 200px;
  text-align: center;
  color: #fff;
  font-size: 70px;
}
.card{
  padding: 50px;
  border: none;
}
.form-control-plaintext{
  width: 200px;
}
.socialmedia{
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.whatsheyla{
  text-align: center;
  font-size: 23px;
  color: #fff;
}
.heading2{
  margin-bottom: 60px;
  text-align: center;
  font-size: 25px;
  color: #fff;
  font-weight: 700;
}
.menuactive{

  color:#fff !important;
  font-weight: 800;
  border-bottom: 2px solid  #478ECC;
}
.nav1{
  margin-top: 210px;
  text-align: center;
  color: #629ed5;

}
.mobileslider{
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #e8e8e8;
}
.active{
  border-bottom: 2px solid  #478ECC;
}
.nav-tabs{
  border: none;
}
.modal-content{
  border-radius: 25px;
}
.modalmenu{
  padding-left: 60px;
}

.borbtn{
  border-bottom: 2px solid  #478ECC;
}
.features{
  padding-top: 100px;
  padding-bottom:40px;
  border-bottom: 4px solid #DCDBD9;
  background: url('<?php echo base_url(); ?>assets/'/contact.jpg);
}
.featuretext{
  font-size: 30px;
}
.white{
  color:#fff !important;
}
.center-div
{
  position: relative;
  margin: auto;
  top: 100px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 700px;
  height: 520px;
  background-color: #fff;
  border-radius: 3px;


}
.cover{
  background: url("../images/cover.png")no-repeat;
  background-size: cover;
  height:150px;
}
.profilesrc{
  margin: 15px;
}
.infobox{
  padding-left: 25px;
  padding-top: 10px;
}
.per-info{
  padding-top: 10px;
}
#edit-btn{
  display: none;
}
#edit-btn{
  color:#fff;
}
.setting{
  color: #fff;
  font-size: 22px;
  margin-top: 10px;
  margin-right: 20px;
}
.arrowimg{

  position: relative;
  top: -10px;
}
.profile{
  background: url("../images/home-bg.jpg")no-repeat;
  background-size: cover;
  height:100vh;
}
.menupage{
  background-color: #478ECC;
}
.listfeauture{
  padding-top: 40px;
  margin: auto;
}
.featurebox{
  padding-right: 0px;
  padding-left: 0px;
}
.mediaobj{
  padding: 20px;
  border: 0.5px solid #F3F3F3;
}
.featureicons{
  width: 75px;
}
.organsier{
      background: url("../images/createevent.jpg")no-repeat;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     height: 400px;
     padding-top: 85px;
     padding-bottom: 60px;

}
.organiserbox{
  padding-top: 60px;
  padding-bottom: 60px;
  border-right: 2px solid #DCDBD9;
}

.organiserbox-last{
  padding-top: 60px;
  padding-bottom: 60px;
}
.organiser-heading{
  font-size: 20px;
}
.organiserevent{
  border-bottom: 4px solid #DCDBD9;
}
.form-control{
  margin-bottom: 10px;

  color: #A7A7A7;
  border: 1px solid grey;
}
.footer-bg{
  background-color: #478ECC;
  padding-top: 15px;
  padding-bottom: 15px;
}
.fnt-footer a{
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  margin-left: 30px;
}
.fnt-footer{
  color:#fff;
}
.bottom-footer{
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.formbg{
  padding-top: 60px;
  padding-bottom:60px;
  background-color:  #F6F6F6;
}
.submitbtn{
  background-color: #478ECC;
  color:#fff;
  padding-left: 0px;
}
.normal-txt{
  font-size: 22px;
  text-align: center;
}
.heading{
  text-align: center;
  padding-top: 25px;
  padding-bottom: 30px;
  font-size: 30px;
  color: #fff;
}
.carousel-caption{
  bottom: 100px;
}
.btn-event{
  padding: 10px 40px 10px 40px;
  background-color: #478ECC;
  border-radius: 20px;
  color: #fff;
  font-size: 18px;
  border: 2px solid #fff;
}
.white-color{
  color:#fff;
}
.cnt{
    padding-bottom: 50px;
    font-size: 30px;
    font-weight: 300;
}
.getin{
  color:#478ECC;
  font-weight: 600;
}
.blueline{
  border-bottom:  2px solid #478ECC;
  border-width: medium;

}

.affix.navbar{
 background-color: blue;
 }

.multiselect {
  width: 200px;
}
/*Organiser home*/

.organiser-home{
  background: url("../images/organsier-cover.jpg")no-repeat;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
  height: 400px;

}
.organiser-title{
  padding-top: 150px;
  font-size: 34px;
  font-weight: 700;
  color: #fff;
  text-align: center;
}
.tabs-left{
  display: inline-block;

    background-color: #fff;
}
.tabs-left li{
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid;
  border-style: ridge;

}
.tabactive{
  background-color: #478ECC;

}
.tabs-left li a{
  padding-left: 50px;
  padding-right: 50px;
  text-decoration: none;
}
.tabactive a{
  color: #fff;
}
.organiser-bg{
  background-color: #F3F3F3;
}
.organiser-menu{
  padding-top: 70px;
  padding-bottom: 70px;
}
.profilename{
  padding-left: 20px;
  font-size: 25px;
}
.form-organiser{
  padding-left: 30px;
  padding-top: 20px;
}
.profile-section{
  border-bottom: 1px solid #dededd;
  padding-bottom: 14px;

}

/* Sign in page */
.signinbg{
    background: url("../images/login-bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-size: 100% 100%;
  background-attachment: fixed;
  height: 100%;
}


.signin-div
{

  margin-top: 100px;
  margin-bottom: 10%;
  background-color: #fff;
  border-radius: 3px;
}
.user-text-box{
  line-height: 0px;
}
.login-heading{
  width:100%;
  text-align: center;
  padding-top: 30px;
  font-size: 24px;
}
.textarea-form{
  overflow-x: hidden;
}
.notverfied{
  color: red;
}
.formsignin{
  padding-top:50px;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
}
.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;
}
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px 10px 10px;
    pointer-events: none;
}
i.fas{
  font-size: 14px;
}
.forgotpwdtext{
  font-size: 14px;
  color:#626262;
}
.btn-login{
  background-color: #478ECC;
  border-color:  #478ECC;
}
.btn-login:hover{
  background-color: #478ECC;
    border-color:  #478ECC;
}
.social-img{
  width:250px;
  margin-bottom: 25px;
  margin-top: 15px;

}
.or-text{
  padding-top: 140px;
  text-align: center;
}

.socialmedia-tab{
  text-align: center;
padding-top: 50px;
padding-bottom: 15px;
}
.formsignup{
  padding-top:40px;
  padding-bottom: 40px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 320px) and (max-width: 480px){
.or-text{
  padding-top: 10px;
}
.socialmedia-tab{
  padding-top: 0px;
}
.formsignin{
  padding-top:0px;
  padding-bottom: 0px;
}
.signinbg{
  height: auto;
}
.booking-section{
  background-color:#000 !important;
}
.leaderboard-bg{
  top:0px;
}
}

@media (min-width: 320px) and (max-width: 480px){
.leaderboard-bg{

}
}
/*.fixed-top{
      background-color: #478ecc;
}*/
@media (max-width: 982px) {
.fixed-top{
  position: absolute;
}
}
.privacy{
  margin-top: 20px;
  margin-bottom: 20px;
}
.list-inline{
  text-align: right;
}


/* Event page */
.search-area{
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
}
.search-event-form{
  margin-top: -5px;
}
.event-selectpage{
  padding: 5px;
}
.eventlist-pge{
  background-color: #eae7e7;
}
.event-image{
  width:350px;
}
.event-card{
  padding: 0px;
}
.event-thumb{
  padding-bottom: 15px;
}
.favourite-icon{
  font-size: 16px;
}
.event-banner-img{
  height: 234px;
  width: 100%;
}
.event-title-list a{
  font-size: 20px;
  color: #000;
}
.upcoming-event-heading{
  font-size: 28px;
  border-bottom: 2px solid blue;
  width: 222px;
}
.eventdetail-pge{
  background-color: #fff;
}
.event-desc{
  font-size: 28px;
}
.booking-section{
    background: rgba(0, 0, 0, 0.5);
    position: relative;
    top: -73px;
    padding: 10px;
}
.event-heading-text{
  color:#fff;
}
.event-details-desc {
    margin-top: -30px;
}
.event-desc-details{
  text-align: justify;
  font-size: 15px;
}
.map{
  width:100%;
  height: 400px;
}
.event-desc-head{
  font-size: 21px;
  font-weight: 600;
  border-bottom: 2px solid #478ecc;
  width: 122px;
}

.quantity-right-plus{
  background-color:  #478ecc;
}
.quantity-left-minus{
  background-color:  #478ecc;
}
input#quantity{
  color:#000;
}
.price-details{
  background-color: #f8f9fa;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #000;
}
.total-price{
  padding: 5px;
  border-top: 1px solid #000
}
.amt{
  margin-right: 10px;
}
.plan-amt{
  margin-right: 15px;
}
.amt-price{
  border: none;
  margin-left: 10px;

}
.change-email{
  font-size: 12px;
}
.booked-ticket{
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 12px;
}
.booked-event-img{
  width: 100px;
  float: left;
  margin-right: 20px;
}
.card-header-title{
  background-color: #fff;
}
.card-header-title h3{
  font-size: 22px;
}
.booked-date{
  border-left: 2px solid black;
  margin: 0px;
  border-left-style: dotted;
}
.event-wish{
  padding-top: 5px;
  padding-bottom: 5px;
}
.whishlist-card{
  padding: 10px;
}
a.btn.btn-login.btn-primary.btn-block.review-btn{
  color: #fff;
}
.modal-header-review{
  background-color: #478ecc;
}
.textarea-review{
  width: 100%;
  overflow: hidden;
}
/* Leaderboard */
.leaderboard-bg{
  background: url("../images/leaderboard-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height:310px;

}
.leader-title{
  justify-content: center;
  position: relative;
  font-size: 28px;
  top: 100px;
  color: #fff;
  text-align: center;

}
.header-title{
  height: 400px;
}
.leaderboard-menu-tab{
  margin-top: 30px;
  margin-bottom: 30px;
}


/* ReviewPage */
.review-img{
  width: 200px;
}
.menu-icons{
  padding-right: 10px;

}
.page-bg{
  background-color: #f6f6f6;
}
.total-points-div{

    padding-left: 60px;
    padding-right: 60px;
    background-color: #fff;
    border-bottom: 4px solid orange;
}
.leaderboard-img{
  padding: 12px;
}
.points-one-div{
  margin: 20px 10px 20px 0px;
  background-color: #fff;
  border-left: 4px solid #8ec641;
}
.points-two-div{
  margin: 20px 10px 20px 0px;
  background-color: #fff;
  border-left: 4px solid #454ea1;
}
.points-three-div{
  margin: 20px 10px 20px 0px;
  background-color: #fff;
  border-left: 4px solid  #ec2227;
}
.points-four-div{
  margin: 20px 10px 20px 0px;
  background-color: #fff;
  border-left: 4px solid #029b8c;
}
.points-five-div{
  margin: 20px 10px 20px 0px;
  background-color: #fff;
  border-left: 4px solid #ee7f22;
}

.points-six-div{
  margin: 20px;
  border: none;
}
.leaderboard-widgets{
  margin-top: 35px;
}
/* Ipad */
@media (min-width: 768px) and (max-width: 1024px){
  .booking-section{
      background-color: #000;

  }
  .event-banner-img{
    height: 234px;
    width: 100%;
  }
.carousel-fade .carousel-inner, .carousel-fade .carousel-item {
  height: 320px;
}
.or-text{
  padding-top: 0px;
}
.socialmedia-tab{
    padding-top: 0px;
}
.formsignin{
  padding-top: 30px;
  padding-bottom: 30px;
}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
.social-img{
  width: 160px;
}
}
